body {
    background-color: #F0EFF2;
}

.attendance-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendance-detail__title {
    width: 900px;
    margin-top: 91px;
    padding-left: 21px;
    border-left: 8px solid #000;
    font-size: 30px;
}

.attendance-detail__table {
    width: 900px;
    background: #fff;
    color: #737373;
    margin-top: 46px;
    border-radius: 10px;
}

.attendance-detail__table tr {
    border-bottom: 2px solid #E1E1E1;
}

.attendance-detail__table tr:last-child {
    border-bottom: none;
}

.attendance-detail__table th,
.attendance-detail__table td {
    padding: 30px;
}

.attendance-detail__table th {
    width: 35%;
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 54px;
}

.attendance-detail__table td {
    font-size: 16px;
    font-weight: 700;
    width: 316px;
    display: flex;
    justify-content: space-between;
}

.attendance-detail__table p{
    width: 103px;
    text-align: center;
}

.attendance-detail__table input {
    width: 103px;
    height: 29px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.attendance-detail__table textarea {
    width: 400px;
    height: 80px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 16px;
}

.attendance-detail__btn {
    text-align: right;
    margin-top: 36px;
}

.attendance-detail__btn--submit{
    width: 130px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.attendance-detail__error-message{
    color: red;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 15%;
    margin-top: 25px;
    text-align: end;
}

@media (max-width: 850px) {
    .attendance-detail__title,
    .attendance-detail__table {
        width: 80vw;
    }
}
